#l{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#container{
    display: block;
    text-align: center;
    padding: 10px;
}
.buttons{
    color: white;
    background-color: hsl(225, 22%, 57%);
    padding: 10px;
    border-radius: 10px;
    font-size: 1.25em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.buttons:hover{
    background-color: hsl(225, 35%, 57%);
}